{% extends "base.html" %}
{% block content %}
<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Xhorn</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Hi</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
<div class="jumbotron">
<ul class='nav'>
 {% for tech in techs %}
     <li>{{ tech }}</li>
 {% end %}
</ul>
</div>
{% end %}
